*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

form input[type="submit"]{
    background-color: rgba(3, 191, 208, 1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    transition: 0.2s background-color linear;
    cursor: pointer;
}

form input[type="submit"]:hover{
    background-color: rgba(30, 152, 163, 1);
}

#error{
    position: absolute;
    width: 100%;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    animation: error forwards 5s;
    background-color: red;
}

@media screen and (max-width: 940px){
    h3.date{
        position: static;
    }
}

@keyframes error {
    0%{
        transform: translateY(-60%);
    }
    30%{
        transform: translateY(0);
    }
    70%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-60px);
    }
}

